/* 头尾各个页面相同的样式 */
/* 版心容器 */
.wrapper {
  margin: 0 auto;
  width: 1240px;/* 居中显示，固定宽度1240px */
}

/* 快捷导航 shortcut */
.shortcut {
  height: 52px;
  background-color: #333;
}
.shortcut .wrapper {
  height: 52px;
  background-color: #333 ;
}
 .shortcut .wrapper ul{
  float: right;/* 文字浮动到右边 */
}
.shortcut .wrapper li{  
  float: left;/* 使文字从左到右在同一行 */
  line-height: 52px;/* 行高 */
}
.shortcut .wrapper a{
  padding: 0 16px;/* 文字与边框的距离  左右间距 */
   border-right: 1px solid #666;/*文字间的竖线 */
   font-size: 14px;/* 字体大小 */
   color: #fafafa ;/* 文字颜色 */
}
.shortcut .wrapper a span{
  display: inline-block;
  margin-right: 8px;
  width: 11px;
  height: 16px;/* 图片大小 */
  background-image: url(../uploads/精灵图.PNG);
  background-position: -160px -70px;/* 图片位置 */
  vertical-align: middle;/*图片垂直居中*/
}
.shortcut .wrapper li:last-child a{
  border:0;/* 最后一个元素没有右边的边框 */
}
/* 头部 */
.header{
  margin: 30px auto;
  height: 70px;
}
.logo{
  float: left;
  width: 207px;
  height: 70px;
}
/* logo搜索引擎优化做法 */
.logo h1{
  width: 207px;
  height: 70px;
}
.logo h1 a{
  display: block;
  width: 200px;
  height: 70px;/* logo图片显示大小 */
  background-image: url(../uploads/LOGO.PNG);
}
.nav{
  float: left;
  margin-left: 40px;
  height: 70px;
}
.nav li{
  float: left;/*从左到右排列 */
  margin-right: 48px;/* 文字间隔 */
  line-height: 70px;/* 文字行高 */
}
.nav li a:hover{
  color: #27ba9b;/* 鼠标悬停颜色 */
  border-bottom: 1px solid #27ba9b;/* 底部边框 */
}
.search{
  /* 相对定位 */
  position:relative;
  float: left;
  margin-left: 34px; 
  margin-top: 24px;
  width: 172px;
  height: 30px;
  border-bottom:2px solid #e7e7e7 ;/*下边框*/
}
/* 控制search里面的文字 */
.search input{
  padding-left: 30px;
  width: 172px;
  height: 28px;
}
/* placeholder文字改变 */
.search input::placeholder{
  font-size: 14px;
  color: #ccc;
}
/* 放大镜图标 */
.search span{
  /* 绝对定位 */
  position:absolute;
  left: 2px;
  top: 4px;
  /* 放图标的框架大小 */
  width: 18px;
  height: 18px;
  background-image: url(../uploads/精灵图.PNG);
  background-position: -79px -69px;/* 图片位置 */
}
/* 购物车 */
.car{
  position: relative;
  float: left;
  margin-top: 28px;
  margin-left: 15px;/* 盒子之间的距离 */
  width: 23px;
  height: 23px;
  background-image: url(../uploads/精灵图.PNG);
  background-position: -120px -69px;/* 图片位置 */
}
/* 购物车右上角的圆点2 */
.car span{
  position: absolute;
  right: -8px;
  top: -5px;
  width: 20px;
  height: 15px;
  background-color: #e26237;
  border-radius: 8px;
  /* 2的颜色大小位置 */
  font-size: 13px;
  color: #fff;
  text-align: center;
  line-height: 15px;
}
/* 版权footer */
.footer{
  height: 500px;
  background-color: #fefbfb;
}
.footer .wrapper{
  width: 1240px;
}
.footer .top{
  padding-top: 60px;
  padding-left: 135px;
  height: 179px;
  border-bottom: 1px solid #e8e8e8;
}

.footer .top li{/* 给文字设置大小合适的盒子 */
  position: relative; /* 确保li有定位 */
  float: left;
  margin-right: 100px;
  width: 195px;
  height: 58px;
  font-size: 33px;/* 文字大小 */
  text-align: right;      /* 水平居中 */
  line-height: 58px;       /* 垂直居中 - 行高等于高度 */
 
}

.footer .top li:last-child{/* 最后一个文字没有间隔 */
  margin-right: 0;
}

.footer .top li a {/* 放图片的盒子 */
    position: relative;
    display: block;
    margin-left: -20px; /* 负值让整个链接左移 */
    line-height: 58px;
    text-decoration: none;
    color: #333;
    padding-left: 60px; /* 为图标留空间 */
}
/* 图片大小 */
.footer .top li a span{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 50px;
    height:50px;
    background-image: url(../uploads/精灵图.PNG);
    background-repeat: no-repeat;
    background-size:312px 345px;
    /* 图标变黑 */
    filter: brightness(0.5)      /* 稍微调暗 */
        sepia(1)             /* 先变棕色 */
        hue-rotate(50deg)    /* 再变绿色 */
        saturate(3);         /* 增加饱和度 */
}
.footer .top li:nth-child(1) a span {
    background-position: 2px 0px; /* 第一个图标位置 */
}
.footer .top li:nth-child(2) a span {
    background-position: -100px 0px; /* 第二个图标位置 */
}
.footer .top li:nth-child(3) a span {
    background-position: -50px 0px; /* 第三个图标位置 */
}
.footer .top li:nth-child(4) a span {
    background-position: -50px 0px; /* 第四个图标位置 */
}
 
.footer .bottem{
   display: flex; 
  justify-content: space-between;
  padding-top: 58px;
  height: 302px;
}
.footer .bottem dt{
  margin-bottom: 20px;
  font-size: 18px;
}
.footer .bottem dd a{
  line-height: 32px;
  color: #969696;
}
.footer .bottem dd .iconfont{
  color: #5EB69C;
}
.footer .bottem .right ul{
  display: flex;
  justify-content: space-between;
  width: 295px;
}
.footer .bottem .right img{
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
}
.footer .bottem .right p{
  text-align: center;
  color: #969696;
}
/* 版权 */
/* 选择 class="copyright" 的元素 */
.copyright{
  text-align: center;/* 文字水平居中 */
}
/* 选择 copyright 里面 p 里面的 <a> 元素 */
.copyright p,
.copyright p a{
  color: #A1A1A1;/* 文字颜色为浅灰色 */
}
/* 选择 copyright 里面的 <p> 元素 */
.copyright p{
  margin-bottom: 10px;/* 段落底部间距10像素 */
} 
